{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="centered">
  <div class="emoji"><img style="height: 300px;border-radius: 0%;box-shadow: 0 13px 26px rgba(255, 255, 255, 0.2), 0 3px 6px rgba(242, 239, 239, 0.2);" src="static/img/unicorn.gif" width=250></div>
 <span style="color: #1ad7ffa3;font-weight: 700;display: block;height: 190px;line-height: 190px;font-size: 230px;margin: -39px 0 10px;font-family: 'Roboto Condensed',Arial;position: relative;left: 18px;" class="message-big">404</span>
  <h4 class="m-0 font-weight-bold text-primary" class="text" style="position: relative;left: 33px">Ops, questa pagina non esiste!<br><br><a href="/" ><button type="button" class="btn btn-outline-info" >Clica per tornare indietro</button>
</h4>
</body>
{% endblock %}
</html> 
