{% extends "base.html" %}
{% load static %}
  <body>
      {% block content %}
      {% block scripts %}
            <script src="{% static 'js/jquery-2.0.1.js' %}"></script>
            <script src="{% static 'js/bootstrap4.3.1.min.js' %}"></script>
        {% endblock %}
               {% if messages %}
                <ul class="messages">
                    <div class="row" role='alert'>
                        <div class="col-sm-11 col-sm-offset-3" role='alert'>
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
        <form method="POST" class="post-form" autocomplete="off"  action="carica">
          {% csrf_token %}
          <div class="col-sm-12">
            <div style="height: 400px; border-radius: 25px;" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Inserisci le Ore e i Contratti per ogni Collaboratore</h6>
              </div>
          <div class="row">
            <div style="position: relative;left: 5px;" class="col">
            <label>Data</label>
            <input type="date" class="form-control" id="id_data" name="data"></div>
            <div class="col">
            <label>Operatore</label>
            {{ form.user }} </div>
            <div class="col">
            <label>Ore</label>
            <input style="-moz-appearance:textfield;" type="number" step="any" class="form-control" id="id_oret" name="oret"> </div>
            <div class="col">
            <label>Contratti</label>
            <input style="-moz-appearance:textfield;" type="number" class="form-control" id="id_contrattiok" name="contrattiok"></div>
            <div class="col">
            <label style="position: relative;left: 26%;">Cliente</label>
            <input style="width: 145%;" type="text" class="form-control" id="id_nomecognome" name="nomecognome"> </div>
            <div class="col">
            <button type="submit" class="btn btn-success mr-2" class="form-inline" style="position: absolute;left: 35%;top: 32px;">Inserisci<span style="position: relative;top: 0px;right: -4px;" class="fas fa-paper-plane"></span></button></div>
          </div>
           </div>
            </div>
    </form> 
  {% endblock %}
  </body>
</html>
